body{
    background-color: black;
      margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.div1{
       display: grid;
        grid-template-rows:210px 60px
         60px 60px 60px 60px;
        background-color:rgb(30 30 30);
        border-radius:10px;
        width:320px;
        height:540px;
      }
.sekil{
    background-color:;
          display:flex;
          justify-content:center;
          align-items:center;
          width:80px;
          height:80px;
          border-radius:50px;
          margin: -30px auto;
          margin-top: 30px;
}
.button{
        display:flex;
        justify-content:center;
        align-items:center;
        border-radius:15px;
        margin: 0px;
        padding: 0;
         background-color:rgb(30 30 30) ;
        flex-direction:column;
        row-gap:10px;
        margin-top: 90px;
}
.button1{
         width:250px;
        background-color:rgb(40 40 40);
        border-radius: 5px;
        border: none;
        padding-bottom: 15px;
        padding-top: 15px;
        font-size:13.5px;
        font-weight:600;
        color: white;
}
.button2{
           width:250px;
        background-color:rgb(40 40 40);
        border-radius: 5px;
        border: none;
        padding-bottom: 15px;
        padding-top: 15px;
        font-size:13.5px;
        font-weight:600;
        color: white;
}
.button3{
          width:250px;
        background-color:rgb(40 40 40);
        border-radius: 5px;
        border: none;
        padding-bottom: 15px;
        padding-top: 15px;
        font-size:13.5px;
        font-weight:600;
        color: white;
}
.button4{
        width:250px;
        background-color:rgb(40 40 40);
        border-radius: 5px;
        border: none;
        padding-bottom: 15px;
        padding-top: 15px;
        font-size:13.5px;
        font-weight:600;
        color: white;   
}
.name{
  color:white;
        font-size:23px;
        font-weight:600;  
          margin-top: -90px;
          text-align: center;
}
.place{
   color:#a8cd26 ;
        font-size:13px;
        font-weight:550;
           text-align: center;
           margin-top: 15px;
}
    .bio{
        color:#ffffffc6;
        margin-top:20px;
        font-size:13px;
           text-align: center;
           margin-top: 20px;
      }